NAME full-adder

INPUTSTART

    BIT a
    BIT b
    BIT ci

INPUTEND

OUTPUTSTART

    BIT s
    BIT co

OUTPUTEND

LOGICSTART

    #! infix notation prolly wont be implemented for awhile yet...sorry! !#
    #!
        INFIX s <= a xor b xor ci END
        INFIX co <= ( a and b ) | ( ci and ( a xor b ) ) END
    !#
    RPN s  <= a b ci xor xor END
    RPN co <= a b xor ci and a b and or END

LOGICEND

